h1{
    text-align: center;
    font-family: "Arial", Arial, sans-serif;
    color:white
}
h1:hover{
    text-align: center;
    font-family: "Arial", Arial, sans-serif;
    color:black
}
p{
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    color:white;

}
h3{
    text-align: center;
    color:white;
    font-family: "Arial", Arial, sans-serif;
}
h2{
    text-align: center;
    color:white;
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
}
body {
    background-color: #faa7c9;
}
.ordered_list {
    text-align: center;
    color:black;
    font-family: "Arial", Arial, sans-serif;
    line-height: 200%;
    font-weight: bold;
}
ol {
    display:inline-block;
    text-align: left;
}
h5{
    text-align: center;
    font-family: "Arial", Arial, sans-serif;
}
.image{
    text-align: center;
}